<p>
  Animal works!<br>
  <a [routerLink]="['/pet']">Pet</a><br>
  <a [routerLink]="['/']">Index</a><br>
  <input [(ngModel)]="animal.name" placeholder="name"><br>
  <!-- @see https://angular.io/docs/ts/latest/guide/user-input.html -->
  <input [(ngModel)]="str" placeholder="Str" (keyup)="ngchange(str)">
</p>
<div>{{animal.name}}</div>
<div>{{str}}</div>
